
h1{
	font-family: "Righteous",serif;
	size: 5rem;
	line-height: 1.5;
}

body{
	font-family: "Andika",serif;
	background-color: #519259;
}

.texto-logo{
	font-family: "Righteous";
	font-size: 200%;

}

#diferenciadores .img-fluid{
	width: 70%;
}

#diferenciadores h3{
	font-family: "Righteous";
	font-size: 230%;
	font-weight: bolder;
}
#diferenciadores h5{
	font-weight: normal;
}
