
h1{
	font-family: "Righteous",serif;
	size: 5rem;
	line-height: 1.5;
}


body{
	font-family: "Andika",serif;
	background-color: #386641; !important
}

.texto-logo{
	font-family: "Righteous";
	font-size: 200%;
}


#diferenciadores{
	background-color: #f2e8cf;
}
#diferenciadores .img-fluid{
	width: 49%;
}

#diferenciadores h3{
	font-family: "Righteous";
	font-size: xx-large;
	font-weight: bolder;
}
#diferenciadores h5{
	font-weight: normal;
}
.diff-clase{
	padding-top: 80px;
	padding-bottom: 70px;

}
.icon:hover{
	transition: transform 1s ease;
	transform: scale(1.07);
}

#reseñas{
	text-align: center;
	color: #ffff;
}
#reseñas h4{
	padding-top: 2rem;
	padding-bottom: 1rem;
	font-size: xx-large;
	font-weight: bolder;
}
#reseñas p{
	font-size: larger;
	font-weight: bold;
	padding: 2rem 0rem 2rem;
}

#reseñas .sr-only{
	font-family: "Andika",serif;
	font-weight: normal;
}
.imagen-testimonio{
	border-radius: 10%;
	width: 30rem;
}


@media (max-width: 900px) {
	#reseñas h4{
		font-size: 23px;
	}
}
 
	
#pie-pagina div{
	padding: 1% 8%;
	font-weight: bold;
	text-align: center;
	background-color: #fff;
}

.ico{
	padding: 10px;
}
